.about-container {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000000;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.content-image {
    display: block;
    margin: 20px auto;
    width: 20%; /* Reduced width to make the images very small */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.about-header {
    background-color:wheat;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
    animation: slideDown 1s ease;
}

.about-header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.about-content {
    background-color: #f1faee;
    padding: 30px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease;
}

.about-content h2 {
    color: #1d3557;
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-content h3 {
    color: #000000;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.about-content h3:hover {
    color: sandybrown;
    transform: scale(1.05);
}

.about-content p {
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.about-content p:hover {
    color: #666;
}

.about-content p strong {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.about-content p strong:hover{
    color: sandybrown;
}


.content-image {
    display: block;
    margin: 20px auto;
    width: 20%; /* Reduced width to make the images very small */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes fadeInUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
