.admin-login-form {
    background: wheat;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 380px;
    margin: 0 auto; /* Center the form horizontally */
    position: absolute; /* Use absolute positioning for vertical centering */
    top: 50%; /* Position form in the middle of the screen vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center positioning */
  }
  
  .admin-login-title {
    margin-top: 10px; /* Reduced margin */
    text-align: center;
    font-size: 1.55rem;
  }
  
  .admin-login-input-container {
    margin-bottom: 15px;
    width: 95%;
  }
  
  .admin-login-label {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 8px;
    border-radius: 4px;
    background: #fff;
  }
  
  .admin-login-icon {
    margin-right: 8px;
    font-size: 1.25rem;
  }
  
  .admin-login-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.875rem;
  }
  
  .admin-login-button {
    width: 50%; /* Full width for better alignment */
    padding: 10px;
    background-color: sandybrown;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.875rem;
    margin-top: 20px; /* Adjusted margin */
    margin-left: 70px;
  }
  
  .admin-login-button:hover {
    background-color: #c72c3b;
  }
  