.admin-login-background {
  background: linear-gradient(135deg, #c32020, #07867f);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-container {
  background: wheat;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 370px;
}

.admin-login-heading {
  margin-top: 20px;
  text-align: center;
  font-size: 1.6rem;
  color: #333;
}

.admin-input-wrapper {
  margin-bottom: 15px;
  width: 95%;
}

.admin-input-label {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
}

.admin-icon {
  margin-right: 8px;
  font-size: 1.25rem;
  color: #ff6f61;
}

.admin-input-field {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.875rem;
}

.admin-submit-button {
  width: 50%;
  padding: 10px;
  background-color: #ff7b54;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 20px;
  margin-left: 70px;
  transition: background-color 0.3s;
}

.admin-submit-button:hover {
  background-color: #c72c3b;
}
