.blood-bank-list-container {
  text-align: center;
  padding: 20px;
}

header {
  background-color: rgb(179, 245, 185);
  color: rgb(0, 0, 0);
  padding: 10px 0;
}

.page-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.page-description {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.reset-button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(205, 12, 12);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.reset-button:hover {
  background-color: rgb(227, 54, 54);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blood-bank-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blood-bank-item {
  display: flex;
  align-items: center;
  border: 2px solid sandybrown;
  text-align: left;
  padding: 12px;
  margin: 30px; /* Increased margin to create even more space between items */
  width: 350px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.blood-bank-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  border-color: rgb(255, 82, 82);
}

.blood-bank-image {
  height: 50px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.blood-bank-item:hover .blood-bank-image {
  transform: scale(1.1);
}

.blood-bank-name {
  font-size: 1.2em;
  margin: 0;
  transition: color 0.3s ease;
}

.blood-bank-contact,
.blood-bank-email {
  margin: 5px 0;
  transition: color 0.3s ease;
}

.blood-bank-item:hover .blood-bank-name,
.blood-bank-item:hover .blood-bank-contact,
.blood-bank-item:hover .blood-bank-email {
  color: rgb(227, 54, 54);
}

.location-info {
  display: flex;
  align-items: center;
  color: green; /* Default color for the location icon and text */
}

.location-icon {
  margin-right: 5px;
}

.location-text {
  margin-left: 5px;
}
