
.blood-donor-background {
background-color: wheat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.donor-form-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: var(--neutral-white);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.donor-form .form-group {
    margin-bottom: 15px;
    position: relative;
}

.donor-form .form-group label {
    display: block;
    position: relative;
    font-weight: bold;
}

.donor-form .form-group input,
.donor-form .form-group select,
.donor-form .form-group textarea {
    width: 100%;
    padding: 10px;
    padding-left: 35px; /* Add padding to accommodate the icon */
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.donor-form .form-group input:focus,
.donor-form .form-group select:focus,
.donor-form .form-group textarea:focus {
    border-color: var(--primary-red);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.donor-form .form-group.checkbox-group {
    display: flex;
    align-items: center;
}

.donor-form .form-group.checkbox-group input {
    width: auto;
    margin-right: 10px;
}

.donor-form .form-group.checkbox-group label {
    font-weight: normal;
}

.donor-form .form-group.checkbox-group a {
    color: var(--primary-red);
    text-decoration: none;
}

.donor-form .form-group.checkbox-group a:hover {
    text-decoration: underline;
}

/* Existing CSS styles... */

.submit-button-custom {
    display: block;
    width: 100px;
    background-color: sandybrown; /* Change the background color to sandybrown */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.875rem; /* Reduce font size for a smaller button */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
}

.submit-button-custom:hover {
    background-color: #c72c3b; /* Change background color on hover to dark red */
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.donor-form-image {
    max-width: 500px;
    max-height: 80px;
    margin-left: 195px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-grey);
}

/* Adjustments for the new input fields */
.donor-form .form-group input,
.donor-form .form-group select,
.donor-form .form-group textarea {
    width: 100%;
    padding: 10px;
    padding-left: 35px; /* Add padding to accommodate the icon */
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.donor-form .form-group label {
    display: block;
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
}
