.blood-management {
  padding: 20px;
}

/* Main heading hover effect */
.blood-management h2 {
  color: #000000;
  font-size: 36px; /* Increased font size */
  transition: color 0.3s ease;
}

.blood-management h2:hover {
  color: sandybrown;
}

.blood-requests-table {
  margin-bottom: 40px;
}

.blood-requests-table table {
  width: 100%;
  border-collapse: collapse;
}

.blood-requests-table th,
.blood-requests-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  transition: color 0.3s ease;
}

/* Change table row text color to sandybrown on hover */
.blood-requests-table tr:hover td {
  color: rgb(255, 255, 255);
}

.blood-requests-table th {
  background-color: sandybrown;
  color: rgb(255, 255, 255);
}

.blood-requests-table tr:hover {
  background-color: sandybrown;
}

.blood-request-chart {
  width: 100%;
  height: 400px;
}
