.blood-management {
    padding: 20px;
    text-align: center;
}

.blood-management h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.blood-management h1:hover
{
    color: sandybrown;
}

.donor-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donor-table th,
.donor-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.donor-table th {
    background-color: #f4a460; /* SandyBrown color */
    color: white;
    font-weight: bold;
}

.donor-table td {
    background-color: #f9f9f9;
}

.donor-table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.donor-table tr:hover td {
    background-color: #f4a460;
    color: white;
    cursor: pointer;
}

/* Styling for the chart container */
.chart-container {
    max-width: 1000px; /* Increased chart width */
    height: 600px; /* Increased chart height */
    margin: 20px auto;
    background: #fff5ee; /* Very light SandyBrown background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.delete-btn {
    background-color: #ff6347; /* Tomato color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d9534f; /* Darker red */
}
