.blood-donor-background {
    background-color: wheat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.donor-form-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: var(--neutral-white);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.form-title {
    font-size: 1.8rem;
    text-align: center;
    color: black; /* Changed to black */
    margin-bottom: 20px;
}

.donor-form .form-group-custom {
    margin-bottom: 15px;
    position: relative;
}

.donor-form .form-group-custom label {
    display: block;
    position: relative;
    font-weight: bold;
    color: black; /* Changed to black */
}

.donor-form .form-group-custom input,
.donor-form .form-group-custom select,
.donor-form .form-group-custom textarea {
    width: 100%;
    padding: 10px;
    padding-left: 35px; /* Add padding to accommodate the icon */
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.donor-form .form-group-custom input:focus,
.donor-form .form-group-custom select:focus,
.donor-form .form-group-custom textarea:focus {
    border-color: var(--primary-red);
    box-shadow: 0 0 5px var(--primary-red);
}

.donor-form .form-group-custom .input-icon-custom {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Changed to black */
}

.donor-form .submit-button-custom {
    background-color: sandybrown; /* Change to sandybrown */
    color: white;
    border: none;
    padding: 8px 15px; /* Reduced padding to make the button smaller */
    border-radius: 5px;
    margin-left: 150px;
    width: 30%;
    border-radius: 5px;
    font-size: 1rem; /* Slightly smaller font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donor-form .submit-button-custom:hover {
    background-color: #c72c3b; /* Lighter shade of sandybrown for hover effect */
}

/* Adjustments for checkbox and text */
.checkbox-group {
    display: flex;
    align-items: center; 
    margin-left: -100px;
}

.checkbox-group input {
    margin-left: -120px; /* Space between checkbox and text */
}

.terms-checkbox-label {
    font-size: 0.9rem;
    color: #555;
    margin-right: -200px;
    /* Remove any default margin to ensure no gap */
    display: inline; /* Ensure the label text stays on the same line */
}
