/* Background and container for the form */
.form-background {
    background-color: wheat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--neutral-white);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

/* Input field styles */
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding-top: 25px; /* Adjust padding for space between label and input */
    padding-left: 50px; /* Adjusted space for icons and label */
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 1rem;
}

/* Focused input field styles */
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: var(--primary-red);
}

/* Label and icon styling */
.input-container {
    position: relative;
}

/* Label styling */
.form-group .label-container {
    font-size: 1.2rem; /* Increased font size */
    color: #5f5b5b;
    position: absolute;
    top: 8px; /* Label closer to the input */
    left: 45px; /* Adjust the position of the label */
}

/* Placeholder behavior */
.form-group input::placeholder,
.form-group select::placeholder,
.form-group textarea::placeholder {
    color: transparent;
}

/* Submit button styling */
.submit-button-custom {
    background-color: sandybrown;
    color: rgb(255, 255, 255);
    padding: 8px 20px; /* Reduced padding for a smaller button */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: auto; /* Set width to auto for a more compact button */
    text-align: center;
    font-size: 0.9rem; /* Reduced font size */
}

.submit-button-custom:active {
    background-color: #e63946;
    transform: translateY(-2px);
}

/* Form title styling */
.form-title {
    font-size: 2rem;
    color: var(--primary-red);
    text-align: center;
    margin-bottom: 30px;
}

/* Checkbox and radio button styles */
.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #5f5b5b;
    font-size: 1.2rem;
}
