/* General Dashboard Styles */
.admin-dashboard-container {
  padding: 20px;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Title Styles */
.admin-dashboard-title {
  font-size: 50px;
  color: #000000;
  margin-bottom: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.admin-dashboard-title:hover {
  color: sandybrown;
}

/* User List Styles */
.user-list-container {
  margin-top: 20px;
}

/* Table Styles */
.user-table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.user-table th {
  background-color: sandybrown;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.user-table tr:hover {
  background-color: sandybrown; /* Change to sandybrown on hover */
  color: #fff; /* Optional: change text color to white on hover */
}

/* Edit and Delete Button Styles */
.action-button {
  padding: 12px 18px;
  margin: 0 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.action-button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.action-button:focus {
  outline: none;
}

/* Specific Button Styles */
.button-save {
  background-color: #31b04f;
  color: #fff;
}

.button-save:hover {
  background-color: #218838;
}

.button-cancel {
  background-color: #dc3545;
  color: #fff;
}

.button-cancel:hover {
  background-color: #c82333;
}

.button-edit {
  background-color: #31ad4e;
  color: #fff;
}

.button-edit:hover {
  background-color: #218838;
}

.button-delete {
  background-color: #dc3545;
  color: #fff;
}

.button-delete:hover {
  background-color: #c82333;
}

/* Responsive Table */
@media (max-width: 768px) {
  .user-table {
    font-size: 14px;
  }

  .user-table th, .user-table td {
    padding: 12px;
  }
}
